@page
@model Taller.App.Front.Pages.AddVehiculoModel
@{
    int counter = 1949;
}

<div class="row">
    <a asp-page="/Operaciones/OpVehiculos" class="text-decoration-none"><i class="bi bi-arrow-90deg-left"> Regresar</i></a>
    <h2 class="text-center">Nuevo Vehículo</h2>
    <hr>
<div class="col-md-6 mx-auto p-3 shadow">
    <form method="post">

        <label for="placa" class="form-label"><b>Placa</b></label>
                    <input type="text" class="form-control border border-dark p-2" 
                    id="recipient-name"
                    name="Id"
                    placeholder="Ingresa tu placa">
                    <br>
                    <label for="tipo" class="form-label"><b>Tipo</b></label>
                    <select class="form-select border border-dark p-2"
                     id="recipient-name"
                     name = "Tipo">
                        <option selected>Seleccione</option>
                        <option value="buseta">Buseta</option>
                        <option value="microbus">Microbús</option>
                    </select>
                    <br>
                    <label for="marca" class="form-label"><b>Marca</b></label>
                    <input type="text" class="form-control border border-dark p-2" 
                    id="recipient-name"
                    name="Marca"
                    placeholder="Ingresa tu marca">
                    <br>
                    <label for="modelo" class="form-label"><b>Modelo</b></label>
                    <select class="form-select border border-dark p-2" 
                    id="recipient-name"
                    name="Modelo">
                    @for(var i = 1950; i<=2023; i++)
                    {
                       counter = counter + 1 ;
                       <option value="@counter">@counter</option>  
                    }
                    </select>
                    <br>
                    <label for="pasajeros" class="form-label"><b>Capacidad de pasajeros</b></label>
                    <input type="text" class="form-control border border-dark p-2" 
                    id="recipient-name"
                    name="Capacidad_pasajeros"
                    placeholder="Ingresa número de pasajeros">
                    <br>
                    <label for="cilindraje" class="form-label"><b>Cilindraje</b></label>
                    <input type="text" class="form-control border border-dark p-2" 
                    id="recipient-name"
                    name="Cilindraje"
                    placeholder="Ingresa cilindraje">
                    <br>
                    <label for="origen" class="form-label"><b>Ciudad de origen</b></label>
                    <input type="text" class="form-control border border-dark p-2" 
                    id="recipient-name"
                    name="Pais_origen"
                    placeholder="Ingresa ciudad de origen">
                    <br>
                    <label for="caracteristicas" class="form-label"><b>Otras caracteristicas</b></label>
                    <textarea class="form-control border border-dark p-2" 
                    id="recipient-name"
                    name="Carateristicas" 
                    rows="3"></textarea>
                    <br>
                    <label for="dueno" class="form-label"><b>Seleccione dueño</b></label>
                    <select class="form-select border border-dark p-2" id="recipient-name"
                    name="DuenoId">
                    <option selected value="">Seleccione</option>
                    @foreach (var n in Model.duenos)
                    {
                        <option value="@n.Id">@n.Nombre.ToString().ToUpper()</option>
                    }
                </select>
                <div>
                    <br>
                    <br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">    
                <button type="submit" asp-page-handler="Add" class="btn btn-warning text-white"><i class="bi bi-cloud-download"></i>
                    Guardar</button>
                <button type="button" class="btn btn-secondary"><i class="bi bi-x-square"></i>
                    Cancelar</button>
                </div>
            </div>
            </form>
</div>
</div>
        