@page
@model Taller.App.Front.Pages.NotificacionesModel
@{
}
<br>
<div class="row text-center">
    <div class="col-4">
        <h4 class="border border-warning border-2 border-top-0 border-start-0 pb-1"><b>MIS NOTIFICACIONES</b></h4>
    </div>
</div>
<br>
<div class=" shadow card">
    <div class="card-body">
        <p><b>Revision No. 12345</b><br>
            <b>Fecha: 06/09/2022</b><br>
            Estado: <span class="bg-success p-1 text-white rounded">TERMINADO</span><br>
            Placa - ABC005
        </p>
        <hr>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, iste reprehenderit iusto nesciunt
            consectetur, voluptatibus quia nam accusamus, fugiat error autem laboriosam maiores veritatis cumque
            laudantium harum? Asperiores, soluta est.</span>

    </div>
</div>
<br>
<div class=" shadow card">
    <div class="card-body">
        <p><b>Revision No. 12345</b><br>
            <b>Fecha: 06/09/2022</b><br>
            Estado: <span class="bg-danger p-1 text-white rounded">PENDIENTE</span><br>
            Placa - ABC005
        </p>
        <hr>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, iste reprehenderit iusto nesciunt
            consectetur, voluptatibus quia nam accusamus, fugiat error autem laboriosam maiores veritatis cumque
            laudantium harum? Asperiores, soluta est.</span>

    </div>
</div>
<br>
<div class=" shadow card">
    <div class="card-body">
        <p><b>Revision No. 12345</b><br>
            <b>Fecha: 06/09/2022</b><br>
            Estado: <span class="bg-success p-1 text-white rounded">TERMINADO</span><br>
            Placa - ABC005
        </p>
        <hr>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, iste reprehenderit iusto nesciunt
            consectetur, voluptatibus quia nam accusamus, fugiat error autem laboriosam maiores veritatis cumque
            laudantium harum? Asperiores, soluta est.</span>

    </div>
</div>