@page
@model Taller.App.Front.Pages.ServiciosModel
@{
}
<br>
<div class="row text-center">
    <div class="col-4">
        <h4 class="border border-warning border-2 border-top-0 border-start-0 pb-1"><b>MIS SERVICIOS</b></h4>
    </div>
</div>
<br>
<div class="row justify-content-end">
    <div class="col-md-3 col-sm-12">
      <div class="d-grid gap-2">
         <button class="btn btn-warning border border-dark" type="button" data-bs-toggle="modal" data-bs-target="#ModalServicio"><i class="bi bi-file-earmark-check"></i> Nuevo servicio</button>
      </div>
    </div>
</div>
<br>

<div class="card shadow text-center">
  <div class="card-body">
    <table class="table table-sm ">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">No. solicitud</th>
            <th scope="col">Placa</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Servicio</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>12345</td>
            <td>ABC123</td>
            <td>03/09/2022</td>
            <td>04:50 pm</td>
            <td>Montallantas</td>
            <td>Registrado</td>
            <td>
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#ModalVerVehiculo"><i class="bi bi-check-lg"></i> Confirmar cita</button>
            </td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>12345</td>
            <td>ABC123</td>
            <td>03/09/2022</td>
            <td>04:50 pm</td>
            <td>Revisión mecanica</td>
            <td>Registrado</td>
            <td>
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#ModalVerVehiculo"><i class="bi bi-check-lg"></i> Confirmar cita</button>
            </td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>12345</td>
            <td>ABC123</td>
            <td>03/09/2022</td>
            <td>04:50 pm</td>
            <td>Revisión electrica</td>
            <td>Registrado</td>
            <td>
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#ModalVerVehiculo"><i class="bi bi-check-lg"></i> Confirmar cita</button>
            </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="ModalServicio" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Nuevo Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <label for="placa" class="form-label"><b>Placa</b></label>
            <select class="form-select border border-dark p-2" id="placa">
                <option selected>Seleccione</option>
                <option value="ABC123">ABC123</option>
                <option value="ABC123">ABC123</option>
            </select>
            <br>
            <label for="tipo_servicio" class="form-label"><b>Tipo de servicio</b></label>
            <select class="form-select border border-dark p-2" id="tipo_servicio">
                <option selected>Seleccione</option>
                <option value="revision mecanica">Revisión mecánica</option>
                <option value="revisión electrica">Revisión eléctrica</option>
                <option value="montallantas">Montallantas</option>
                <option value="otros">Otros</option>
            </select>
            <br>
            <label for="sede" class="form-label"><b>Sede</b></label>
            <select class="form-select border border-dark p-2" id="sede">
                <option selected>Seleccione</option>
                <option value="armenia">Armenia</option>
                <option value="barranquilla">Barranquilla</option>
                <option value="bogota">Bogotá</option>
                <option value="cali">Cali</option>
                <option value="manizales">Manizales</option>
                <option value="medellin">Medellín</option>
                <option value="pasto">Pasto</option>
                <option value="pereira">Pereira</option>
            </select>
            <br>
            <label for="fecha_revision" class="form-label"><b>Fecha revisión</b></label>
            <input type="date" class="form-control border border-dark p-2" id="fecha_revision">
            <br>
            <label for="hora_revision" class="form-label"><b>Hora revisión</b></label>
            <input type="time" class="form-control border border-dark p-2" id="hora_revision" placeholder="Ingresa cilindraje">
            <br>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning text-white"><i class="bi bi-cloud-download"></i> Solicitar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cancelar</button>
      </div>
      
    </div>
  </div>
</div>


@* <div class="modal fade" id="ModalValidarCita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="exampleModalLabel">Información de vehiculo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h3>Placa <span class="badge bg-warning text-dark"> ABC123</span></h3>
        <h5>Tipo <br> <span class="badge bg-secondary">Buseta</span></h5>
        <h5>Modelo <br> <span class="badge bg-secondary">2015</span></h5>
        <h5>Capacidad pasajeros <br> <span class="badge bg-secondary">15 pasajeros</span></h5>
        <h5>Cilindraje <br> <span class="badge bg-secondary">3500</span></h5>
        <h5>Ciudad origen <br> <span class="badge bg-secondary">EEUU</span></h5>
        <h5>Otras caracteristicas <br> <span class="badge bg-secondary">Aire acondicionado</span></h5>
      </div>
    </div>
  </div>
</div> *@
