@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a nuestro taller</h1>
</div>
<br>
<div>
<img src="~/img/Logo.png" width="300px" class="rounded mx-auto d-block" alt="Logo">    
</div>
