@page
@model Taller.App.Front.Pages.RegistroModel
@{
}
<a href="/Login/Login" class="text-decoration-none text-dark"><b><i class="bi bi-arrow-bar-left"></i>Volver</b></a>
    <div class="row justify-content-center mb-3">
        <div class="col-md-4 col-sm-12">
            <h4 class="border border-warning border-2 border-top-0 border-start-0 ps-4 pb-1"><b>REGISTRATE PARA INICIAR</b></h4>
        </div>    
    </div>

    <div class="row shadow border border-1 p-3 rounded">
            <div class="col-md-4 offset-md-2 col-sm-12 offset-sm-0 mb-3">
                <label for="documento" class="form-label"><b>Documento de identidad</b></label>
                <input type="text" class="form-control border border-dark p-2" id="documento" placeholder="Ingresa tu documento de identidad">
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <label for="nombres" class="form-label"><b>Nombres</b></label>
                <input type="text" class="form-control border border-dark p-2" id="nombres" placeholder="Ingresa nombre">
            </div>
            <div class="col-md-4 offset-md-2 col-sm-12 offset-sm-0 mb-3">
                <label for="apellidos" class="form-label"><b>Apellidos</b></label>
                <input type="text" class="form-control border border-dark p-2" id="apellidos" placeholder="Ingresa apellidos">
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <label for="fecha_nacimiento" class="form-label"><b>Fecha de nacimiento</b></label>
                <input type="date" class="form-control border border-dark p-2" id="fecha_nacimiento" placeholder="Ingresa fecha de nacimiento">
            </div>
            <div class="col-md-4 offset-md-2 col-sm-12 offset-sm-0 mb-3">
                <label for="direccion" class="form-label"><b>Dirección</b></label>
                <input type="text" class="form-control border border-dark p-2" id="direccion" placeholder="Ingresa tu dirección">
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <label for="celular" class="form-label"><b>Celular</b></label>
                <input type="text" class="form-control border border-dark p-2" id="celular" placeholder="Ingresa tu celular">
            </div>
            <div class="col-md-4 offset-md-2 col-sm-12 offset-sm-0 mb-3">
                <label for="ciudad" class="form-label"><b>Ciudad</b></label>
                <input type="text" class="form-control border border-dark p-2" id="ciudad" placeholder="Ingresa ciudad">
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <label for="email" class="form-label"><b>Email</b></label>
                <input type="email" class="form-control border border-dark p-2" id="email" placeholder="Ingresa tu email">
            </div>
            <div class="col-md-4 offset-md-2 col-sm-12 offset-sm-0 mb-3">
                <label for="contrasena" class="form-label"><b>Contraseña</b></label>
                <input type="password" class="form-control border border-dark p-2" id="contrasena" placeholder="Ingresa contraseña">
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <label for="contrasena_r" class="form-label"><b>Confirma contraseña</b></label>
                <input type="password" class="form-control border border-dark p-2" id="contrasena_r" placeholder="Confirma contraseña">
            </div>
            <div class="col-md-12 offset-md-4 col-sm-12 offset-sm-0 mb-3">
                <div class="form-check">
                    <input class="form-check-input bg-secondary border border-dark" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label form-control-sm" for="flexCheckChecked">
                        Al registrarme, acepto los Términos y Condiciones.
                    </label>
                </div>
            </div>
            <div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
                    <div class="d-grid gap-2">
                    <button class="btn btn-warning text-white border border-dark" type="button">Regístrarme</button>
                </div>
            </div>
        </div>    
        
                
                
